{% set bodyClass = 'information' %}

{% if entry.seoTitle | length %}
{% set seoTitle = entry.seoTitle %}
{% else %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription | length %}
{% set seoDescription = entry.seoDescription %}
{% endif %}

{% extends "_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}

{% block main %}
<!-- Contact -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2">
    {% for detail in entry.detail.all() %}
      <div class="cell detail">
        <p class="dark-gray">{{ detail.header }}</p>
        {{ detail.copy }}
      </div>
    {% endfor %}
  </div>
</div>
<!-- End Contact  -->


{% endblock %}

{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}