<footer>
  <div class="row expanded">

    <!-- Left -->
    <div class="small-12 medium-6 columns align-self-bottom show-for-large">
        <div class="row footer__arrow">
          <div class="small-12 medium-6 columns">
            <a href="/contact"><svg class="icon icon-arrow-up8"><use xlink:href="#icon-arrow-up8"></use></svg></a>
          </div>
        </div>
        
        <div class="row align-bottom">
          <div class="small-12 medium-6 columns">
            <a href="/contact">© {{site.company}}</a>
          </div>
          
          <div class="small-12 medium-6 columns">
            <a href="http://garethjohnsdesign.com" target="_blank">Site Credit</a>
          </div>
        </div>
    </div>
    <!-- End Left -->
    
    <!-- Right -->
    <div class="columns">
        <div class="row">
        <div class="small-12 medium-4 columns">
          <div class="footer__detail">Get in touch</div>
          <a href="{{site.social.facebook}}">Facebook</a>
          <a href="{{site.social.instagram}}">Instagram</a>
          <a href="{{site.social.twitter}}">Twitter</a>
          <a href="{{site.social.linkedin}}">LinkedIn</a>
        </div>
        
        <div class="small-12 medium-4 columns">
          <div class="footer__detail">London</div>
          <a href="https://goo.gl/maps/oCk39vZMyHG2">Unit 7, Ground Floor<br>
          21 Bonny Street<br>
          London NW1 9PE<br></a>
          <a href="tel:02035886200">+44 (0)20 3588 6200</a>
        </div>
    
        <div class="small-12 medium-4 columns">
          <div class="footer__detail">Los Angeles</div>
          <a href="https://goo.gl/maps/nLivz4S4kEF2">6725 Sunset Blvd #270<br>
          Los Angeles<br>
          CA 90028<br></a>
          <a href="tel:+13237856313">+1 (323) 785 6313</a>
        </div>
        </div>
        
    </div>
    <!-- End Right -->

  </div>
</footer>