<div class="row expanded">

<div class="small-6 columns">
  {% if page.next.url %}
    <a href="{{page.next.url}}">
      <div class="pagination">
        <p><svg class="icon icon-arrow-left8"><use xlink:href="#icon-arrow-left8"></use></svg></p>
        <p class="hide-for-small-only">{{page.next.title}}</p>
      </div>
    </a>
  {% endif %}
</div>

<div class="small-6 columns text-right">
  {% if page.previous.url %}
  <a href="{{page.previous.url}}">
    <div class="pagination">
      <p><svg class="icon icon-arrow-right8"><use xlink:href="#icon-arrow-right8"></use></svg></p>
      <p class="hide-for-small-only">{{page.previous.title}}</p>
    </div>
  </a>
  {% endif %}
</div>

</div>