{% set bodyClass = 'page' %}

{% extends "_layouts/site" %}

{% block main %}

<div class="grid-y grid-padding-x grid-padding-y align-center" style="min-height: 80vh">
  <div class="shrink cell">
  
  <!-- Contact Header -->
  <div class="grid-x grid-padding-x grid-padding-y align-center text-center">
    <div class="small-12 medium-8 cell">
  		Not Found
    </div>
  </div>
  <!-- End Contact Header -->
  
  </div>
</div>

{% endblock %}

