@font-face {
  font-family: 'GTSectra-Book';
  src: 
  url('../fonts/GTSectra-Book.woff') format('woff'), 
  url('../fonts/GTSectra-Book.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}



/*
@font-face {
  font-family: 'GTSectra-Book';
  src: url('../fonts/GTSectra-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/GTSectra-Book.woff') format('woff'), url('../fonts/GTSectra-Book.ttf')  format('truetype'), url('../fonts/GTSectra-Book.svg#GTSectra-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/