@font-face {
  font-family: 'BasisGrotesque';
  src: url('../fonts/BasisGrotesque.eot?#iefix') format('embedded-opentype'), url('../fonts/BasisGrotesque.woff') format('woff'), url('../fonts/BasisGrotesque.ttf')  format('truetype'), url('../fonts/BasisGrotesque.svg#BasisGrotesque') format('svg');
  font-weight: normal;
  font-style: normal;
}