{% set bodyClass = 'page' %}

{% if entry.seoTitle | length %}
{% set seoTitle = entry.seoTitle %}
{% else %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription | length %}
{% set seoDescription = entry.seoDescription %}
{% endif %}

{% extends "_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}


{% block main %}
<div class="wrapper">
  <div class="grid-container">
  
    <!-- Copy -->
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-12 medium-8 cell">
        {{entry.copy}}
      </div>
    </div>
    <!-- End Copy -->
  
  </div>
</div>
{% endblock %}


{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}