@font-face {
  font-family: 'Bradford Regular';
  src: 
  url('../fonts/bradford-regular.woff2') format('woff2'), 
  url('../fonts/bradford-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arnhem Blond';
  src: 
  url('../fonts/arnhem-blond.woff2') format('woff2'), 
  url('../fonts/arnhem-blond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}