---
layout: default
---

<!-- Intro -->
<section class="clients__intro">
    <div class="row">
      <div class="small-12 medium-9 columns">
        <h3>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
      </div>
    </div>
</section>
<!-- End Intro -->

<!-- Featured Clients -->
<section class="clients__featured">
<div class="row collapse small-up-1 medium-up-3">
  {% assign clients = site.clients | sort: 'position' | where: "is-featured", "true" %}
  {% for client in clients %}
    <div class="columns">
    {% include client-excerpt.html %}
    </div>
  {% endfor %}
</div>
</section>
<!-- End Featured Clients -->

<!-- Clients List -->
<section class="clients__list">
  <!-- Clients Category - Labels -->
    <div class="row clients__category">
      
      <div class="small-3 columns clients__category__title">
        <h4>Labels</h4>
      </div>
      
      <div class="small-9 columns clients__category__list">
        <div class="row small-up-1 medium-up-3"> 
        {% for client in site.clients %}
          {% if client.tags contains 'label' %}
            <div class="columns">
              {{ client.title }}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    
    </div>
  <!-- End Clients Category - Labels -->
  
  <!-- Clients Category - Artists -->
    <div class="row clients__category">
      
      <div class="small-3 columns clients__category__title">
        <h4>Artists</h4>
      </div>
      
      <div class="small-9 columns clients__category__list">
        <div class="row small-up-1 medium-up-3"> 
        {% for client in site.clients %}
          {% if client.tags contains 'artist' %}
            <div class="columns">
              {{ client.title }}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    
    </div>
  <!-- End Clients Category - Artists -->
  
  <!-- Clients Category - Festivals -->
    <div class="row clients__category">
      
      <div class="small-3 columns clients__category__title">
        <h4>Festivals</h4>
      </div>
      
      <div class="small-9 columns clients__category__list">
        <div class="row small-up-1 medium-up-3"> 
        {% for client in site.clients %}
          {% if client.tags contains 'festival' %}
            <div class="columns">
              {{ client.title }}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    
    </div>
  <!-- End Clients Category - Festivals -->
  
  <!-- Clients Category - Venues -->
    <div class="row clients__category">
      
      <div class="small-3 columns clients__category__title">
        <h4>Venues</h4>
      </div>
      
      <div class="small-9 columns clients__category__list">
        <div class="row small-up-1 medium-up-3"> 
        {% for client in site.clients %}
          {% if client.tags contains 'venue' %}
            <div class="columns">
              {{ client.title }}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    
    </div>
  <!-- End Clients Category - Venues -->
</section>
<!-- End Clients List -->