---
layout: default
---

<!-- Intro -->
<section class="contact__intro">
    <div class="row">
      <div class="small-12 medium-9 columns">
        <h3>{{page.intro}}</h3>
      </div>
    </div>
</section>
<!-- End Intro -->

<!-- London Map -->
<div class="row contact__location align-justify">
  <div class="small-12 medium-7 columns">
    <div id="london_canvas" class="contact__location__map"></div>    
  </div>
  
  <div class="small-12 medium-4 columns">
    <div class="contact__location__address">
      <h4>Listen Up — London</h4>
      <p>Unit 7, Ground Floor<br>
      21 Bonny Street<br>
      London<br>
      NW1 9PE<br>
      United Kingdom</p>
    </div>
    
    <div class="contact__location__directions">
      <a href="https://goo.gl/maps/VQfTBakak3B2">Directions</a>
    </div>
    
    <div class="contact__location__links">
      <a href="tel:02035886200">+44 (0)20 3588 6200</a><br>
      <a href="mailto:ldn@listen-up.biz">ldn@listen-up.biz</a>
    </div>
  </div>
</div>
<!-- End London Map -->

<!-- Los Angeles Map -->
<div class="row contact__location align-justify">
  <div class="small-12 medium-7 columns">
    <div id="la_canvas" class="contact__location__map"></div>    
  </div>
  
  <div class="small-12 medium-4 columns">
    <div class="contact__location__address">
      <h4>Listen Up — LA</h4>
      <p>6725 Sunset Blvd #270<br>
        Los Angeles<br>
        CA 90028<br>
        United States of America</p>
    </div>
    
    <div class="contact__location__directions">
      <a href="https://goo.gl/maps/dcz7Tsg59GC2">Directions</a>
    </div>
    
    <div class="contact__location__links">
      <a href="tel:+13237856313">+1 (323) 785 6313</a><br>
      <a href="mailto:la@listen-up.biz">la@listen-up.biz</a>
    </div>
  </div>
</div>
<!-- End Los Angeles Map -->

<!-- Enquiries -->
<section class="contact__enquiries">
  <div class="row">
    
  <div class="small-3 columns contact__enquiries__title">
    <h4>Enquiries</h4>
  </div>
  
  <div class="small-9 columns">
    <div class="row small-up-1 medium-up-2">
      {% for enquiry in page.enquiries %}
      <div class="columns contact__enquiry">
        <h4>{{ enquiry.title }}</h4>
        <p>{{ enquiry.text }}</p>
        <a href="mailto:{{ enquiry.contact }}">{{ enquiry.contact }}</a>
      </div>
      {% endfor %}
    </div>
  </div> 
  
  </div>
</section>
<!-- End Enquiries -->

{% include map-script.html %} 