---
layout: default
---

<div class="index row small-collapse align-center Wallop Wallop--fade">
    
  <div class="small-10 medium-8 large-7 columns align-self-middle">
    <div class="Wallop-list">
        {% for slide in page.carousel %}
        <div class="Wallop-item">
          {% if slide.project %}<a href="/projects/{{ slide.project | slugify }}">{% endif %}
            <img src="{{slide.image}}" alt="{{slide.title}}">
          {% if slide.project %}</a>{% endif %}
        </div>        
        {% endfor %}
    </div>
  </div>

</div>