---
layout: default
---

<div class="testing row small-collapse align-center Wallop Wallop--fade">
  
  <div class="small-2 medium-2 columns align-self-middle">
    <button class="carousel__button Wallop-buttonPrevious"><svg class="icon icon-arrows icon-arrow-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-left"></use></svg></button>
  </div>
    
    
  <div class="small-8 medium-8 columns align-self-middle">
    <div class="Wallop-list">
      {% assign slide_documents = site.projects | where: "is-front", "true" %}
        {% for slide in slide_documents %}
        <div class="Wallop-item"><a href="{{ slide.url }}"><img src="{{slide.image}}" alt="{{slide.title}}"></a></div>
        {% endfor %}
    </div>
  </div>
  
  <div class="small-2 medium-2 columns align-self-middle align-right">
    <button class="carousel__button Wallop-buttonNext float-right"><svg class="icon icon-arrows icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg></button>
  </div>

</div>