---
layout: default
---

<!-- Intro -->
<section class="team__intro">
    <div class="row">
      <div class="small-12 medium-9 columns">
        <h3>{{page.intro}}</h3>
      </div>
    </div>
</section>
<!-- End Intro -->

<!-- Featured People -->
<section class="team__featured__people">
  {% assign teams = site.team | sort: 'position' | where: "is-featured", "true" %}
  {% for team in teams %}
  <div class="row team__excerpt">
    <div class="small-12 medium-6 large-6 columns">
    <img src="{{team.image}}" alt="{{team.title}}">
    </div>
    
    <div class="small-12 medium-6 large-6 columns">
    <h4>{{team.title}}</h4>
    <h5>{{team.job-title}}</h5>
    {{team.content}}
    {% if team.twitter %}
    <a href="{{team.twitter}}" class="plus" target="_blank">Follow</a>
    {% endif %}
    </div>
  </div>
  {% endfor %}
</section>
<!-- End Featured People -->

<!-- People -->
<section class="team__people">
  
  <div class="row team__excerpt small-up-1 medium-up-2 large-up-3">  
    {% assign teams = site.team | sort: 'position' | where: "is-featured", "false" %}
  {% for team in teams %}  
    <div class="columns team__people__person">
    <h4>{{team.title}}</h4>
    <h5>{{team.job-title}}</h5>
    {% if team.twitter %}
    <a href="{{team.twitter}}" class="plus" target="_blank">Follow</a>
    {% endif %}
    </div>
    {% endfor %}
  </div>
  
</section>
<!-- End People -->