---
layout: default
---

<!-- Service Intro -->
<section class="service__intro">
    <div class="row">
      <div class="small-12 medium-9 columns">
        <h2>{{ page.title }}</h2>
        <h3>{{ page.subtitle }}</h3>
        {{ page.content }}
      </div>
    </div>
</section>
<!-- End Service Intro -->

<!-- Featured Service Clients -->
<section class="service__clients__featured">
  <div class="row collapse small-up-1 medium-up-3">
    {% assign category = page.title | downcase %}
    {% for client in site.clients %}
      {% if client.categories contains category %}
      
      {% if client.is-featured %}
      <div class="columns">
       {% include client-excerpt.html %}
      </div>
      {% endif %} 
      
      {% endif %}
    {% endfor %}
  
  </div>
</section>
<!-- End Service Clients -->

<!-- Clients List -->
<section class="service__list">
  <!-- Clients Category - Labels -->
    <div class="row service__category">
      
      <div class="small-3 columns service__category__title">
        <h4>Labels</h4>
      </div>
      
      <div class="small-9 columns service__category__list">
        <div class="row small-up-1 medium-up-3"> 
      {% assign category = page.title | downcase %}
      {% for client in site.clients %}
        {% if client.categories contains category %}    
          {% if client.tags contains 'label' %}
          <div class="small-12 columns">
          {{client.title}}
          </div>
          {% endif %}
        {% endif %}
      {% endfor %} 
        </div>
      </div>
    
    </div>
  <!-- End Clients Category - Labels -->
  
  <!-- Clients Category - Artists -->
    <div class="row service__category">
      
      <div class="small-3 columns service__category__title">
        <h4>Artists</h4>
      </div>
      
      <div class="small-9 columns service__category__list">
        <div class="row small-up-1 medium-up-3"> 
          {% assign category = page.title | downcase %}
          {% for client in site.clients %}
          {% if client.categories contains category %}    
            {% if client.tags contains 'artist' %}
            <div class="small-12 columns">
            {{client.title}}
            </div>
            {% endif %}
          {% endif %}
          {% endfor %} 
        </div>
      </div>
    
    </div>
  <!-- End Clients Category - Artists -->
  
  <!-- Clients Category - Festivals -->
    <div class="row service__category">
      
      <div class="small-3 columns service__category__title">
        <h4>Festivals</h4>
      </div>
      
      <div class="small-9 columns service__category__list">
        <div class="row small-up-1 medium-up-3"> 
          {% assign category = page.title | downcase %}
          {% for client in site.clients %}
          {% if client.categories contains category %}    
            {% if client.tags contains 'festival' %}
            <div class="small-12 columns">
            {{client.title}}
            </div>
            {% endif %}
          {% endif %}
          {% endfor %} 
        </div>
      </div>
    
    </div>
  <!-- End Clients Category - Festivals -->
  
  <!-- Clients Category - Venues -->
    <div class="row service__category">
      
      <div class="small-3 columns service__category__title">
        <h4>Venues</h4>
      </div>
      
      <div class="small-9 columns service__category__list">
        <div class="row small-up-1 medium-up-3"> 
          {% assign category = page.title | downcase %}
          {% for client in site.clients %}
          {% if client.categories contains category %}    
            {% if client.tags contains 'venue' %}
            <div class="small-12 columns">
            {{client.title}}
            </div>
            {% endif %}
          {% endif %}
          {% endfor %} 
        </div>
      </div>
    
    </div>
  <!-- End Clients Category - Venues -->
</section>
<!-- End Clients List -->